@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	position:relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
*:focus {
    /*border: 2px solid red;*/
		box-shadow: 0px 0 15px 2px #c5432c;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
	display: flex;
	flex-direction: column;
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #292929;
  color: #a0a0a0;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  min-height: 6em;
	height: auto;
  background-color: #c5432c;
  text-align:center;
}
nav h1 {
  margin: 0;
	padding-top: 0.5em;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0.75em 1em;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #11548e;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
.map {
  height: 30em;
  width: 100%;
  background-color: #ccc;
}

.map-container-inside {
	height: 12em
}

#map_inside {
	height: 12em;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  padding: 1em;
  height: auto;
  width: auto;
  background-color: #252831;
  align-items: justify;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 1em 0 2em 0;
  text-align: center;
	margin: 0;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 1em;
  min-height: 380px;
  text-align: center;
	position: relative;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  margin: 0;
  width: 100%;
}
#restaurants-list li h3 {
  color: #c5432c;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #c5432c;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
}
.inside #map-container {
  /*background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;*/
}
.inside #map {
  /*background-color: #ccc;
  height: 100%;
  width: 100%;*/
}
.inside #footer {
}
#restaurant-name {
  color: #c5432c;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0.5em;
  text-transform: uppercase;
  line-height: 1.1;
	text-align: center;
	width: 100%;
}
#image-container {
	width: 100%;
	text-align: center;
    display:block;
    float: left;
}
#restaurant-img {
    width: 100%;
	display:block;
	margin: auto;
}
#restaurant-info {
	width: 100%;
    display:inline-block;
    float: left;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
	text-align: center;
}
#restaurant-hours {
	text-align: left;
  margin: auto;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
	display:block;
	justify-content: space-evenly;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}

#reviews-container h3 {
  color: #c5432c;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 0.5em;
	margin: 0;
	text-align: center;
	width: 100%;
}
#reviews-list {
	padding: 0;
	width: 100%;
  display: block;
  float: left;
  justify-content: space-evenly;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  padding: 1em;
	max-width: 60%;
  min-height: 25em;
}
.name {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	color: white;
  background-color: #333;
	color: #ddd;
  text-align: center;
	padding: 0.5em;
	font-weight: 300;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
